<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand navbar-brand-logo" href="">
                <div class="logo">
                     <img ng-src="images/logo2_48px.png" alt='logo image'/>
                </div>
           
        </a>
        
         <!--div class="brand">Evaluaci&oacute;n 360</div-->
        <!--a class="navbar-brand" href="index.html">Evaluaci&oacute;n 360</a-->
    </div>
    <!-- /.navbar-header -->
    <header-notification></header-notification>

    <sidebar></sidebar>
</nav>
