<div class="panel-body">
    <div class="list-group">
        <a href="#" class="list-group-item">
            <i class="fa fa-comment fa-fw"></i> Tip del dia
            <span class="pull-right text-muted small"><em>4 minutes ago</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-envelope fa-fw"></i> Bienvenido a evaluaci&oacute;n 360
            <span class="pull-right text-muted small"><em>27 minutes ago</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-tasks fa-fw"></i> Tiene una nueva evaluaci&oacute;n por responder
            <span class="pull-right text-muted small"><em>43 minutes ago</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-upload fa-fw"></i> Se instal&oacute; la actualizaci&oacute;n
            <span class="pull-right text-muted small"><em>11:32 AM</em>
            </span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-warning fa-fw"></i> Atenci&oacute;n, hay una nueva actualizaci&oacute;n disponible
            <span class="pull-right text-muted small"><em>10:57 AM</em>
            </span>
        </a>

    </div>
    <!-- /.list-group -->

</div>