<div ng-controller="StatsCtrl as vm">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Estad&iacute;sticas</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
     <div class="form-group">
                    <label for="inputEmp" class="col-lg-3 control-label">Empleado</label>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="evaluado" ng-change="update(evaluado)" ng-options="employee._id as employee.fullName for employee in employees">
                              <option value="">Elige un empleado</option>
                        </select>
                    </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="radar-chart" >
        <div class="panel panel-default">
            <div class="panel-heading">Desempeño seg&uacute;n categor&iacute;a</div>
            <div class="panel-body">
                <canvas id="area" class="chart chart-radar" data="vm.radar.data" labels="vm.radar.labels" click="onClick"></canvas>
            </div>
        </div>
    </div>    
    <div class="col-lg-6 col-sm-12" id="bar-chart" >
        <div class="panel panel-default">
            <div class="panel-heading">Seg&uacute;n evaluador</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" data="vm.bar.data" labels="vm.bar.labels" series="vm.bar.series"
                options="vm.bar.options"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="StatsCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Desempeño en el año</div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="vm.line.data" labels="vm.line.labels" legend="true"
                click="vm.line.onClick" series="vm.line.series"></canvas>
            </div>
        </div>
    </div>   
    <div class="col-lg-6 col-sm-12" id="pie-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Competencias</div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie chart-xs" data="vm.pie.data" labels="vm.pie.labels"></canvas>
            </div>
        </div>
    </div>
</div>
</div>