<div class="form-horizontal">
    <fieldset>
        <legend>Employee Detail</legend>

        <div class="col-lg-3">
            <img ng-src="{{currentEmployee.image ? currentEmployee.image : 'customerimages/default-image.png'}}"
                 class="img-circle"
                 alt='employee image' />
        </div>

        <div class="col-lg-8">
            <div class="form-group">
                <label for="inputFullName" class="col-lg-3 control-label">Full Name</label>
                <div class="col-lg-8">
                    <input type="text" name="inputFullName" class="form-control" ng-model="currentEmployee.fullName" disabled>
                </div>
                <div class="col-lg-1">
                    <button ng-click="editEmployee(currentEmployee._id)" class="btn btn-primary">Edit</button>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddess" class="col-lg-3 control-label">Address</label>
                <div class="col-lg-8">
                    <input type="text" name="inputAddess" class="form-control" ng-model="currentEmployee.address" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="inputCity" class="col-lg-3 control-label">City</label>
                <div class="col-lg-8">
                    <input type="text" name="inputCity" class="form-control" ng-model="currentEmployee.city" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="inputCountry" class="col-lg-3 control-label">Country</label>
                <div class="col-lg-8">
                    <input type="text" name="inputCountry" class="form-control" ng-model="currentEmployee.country" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="inputZipCode" class="col-lg-3 control-label">Zip Code</label>
                <div class="col-lg-8">
                    <input type="text" name="inputZipCode" class="form-control" ng-model="currentEmployee.zipCode" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-3">
                    <a ui-sref="employee.detail.contact({contactEmployeeId: currentEmployee._id})">Contact Detail</a>
                </div>
            </div>            
        </div>

    </fieldset>
</div>

<div ui-view></div>