<div class="row">
    <div class="col-lg-3">
        <img ng-src="{{employee.Image ? employee.Image : 'customerimages/default-image.png'}}"
             class="img-circle"
             style="max-width:50px"
             alt='employee image' />
    </div>
    <div class="col-lg-9">
        <div style="font-weight:bold;">
            <a ng-click="employeeDetail(employee.EmployeeId)" style="cursor:pointer">{{employee.FullName}}</a>
            <span class="pull-right" title="Delete employee">
                <i ng-click="deleteEmployee($event, employee.CustomerId)" class="glyphicon glyphicon-trash"></i>
            </span>
        </div>
        <div>{{employee.Address}} {{employee.Country}} {{employee.ZipCode}}</div>
    </div>
</div>
