<div class="modal-content">
    <form name="form" >
        <div class="modal-header">
            <button type="button" 
                    class="close" 
                    ng-click="cancel()"
                    data-dismiss="modal" 
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{headerTitle}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">

                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Nombre Completo</label>
                    <div class="col-lg-8">
                        <input type="text"
                               class="form-control"
                               ng-model="employee.fullName"
                               ng-required="true"
                               ng-disabled="edit">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">DNI</label>
                    <div class="col-lg-8">
                        <input type="number"
                               class="form-control"
                               ng-model="employee.dni"
                               ng-required="true"
                               maxlength="9"
                               ng-disabled="edit">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Area</label>
                    <div class="col-lg-8">
                        <input type="text"
                               class="form-control"
                               ng-model="employee.area"
                               ng-change="findJefes()"
                               ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Puesto</label>
                    <div class="col-lg-8">
                        <input type="text"
                               class="form-control"
                               ng-model="employee.puesto"
                               ng-required="true">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Responde a</label>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="employee.jefe" ng-options="jefe._id as jefe.fullName for jefe in jefes">
                              <option value="">Elige un jefe</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Interno</label>
                    <div class="col-lg-8">
                        <input type="number"
                               class="form-control"
                               ng-model="employee.interno"
                               ng-required="true"
                               maxlength="6">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-8">
                        <input type="email"
                               class="form-control"
                               ng-model="employee.email"
                               ng-required="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button"
                    ng-click="save()"
                    ng-disabled="form.$invalid"
                    class="btn btn-success">
                Guardar
            </button>
            <button type="button"
                    ng-click="cancel()"
                    class="btn btn-danger"
                    data-dismiss="modal">
                Cancelar
            </button>

            <div class="alert-danger" ng-if="error.length > 0 " ng-bind="error"></div>

        </div>
    </form>
</div>