<div class="row">
    <div class="col-lg-10">
        <h1>Administrar Empleados</h1>  
    </div>
    
       
   
</div>
<div class="row">
    <div class="col-lg-3" style="border: 1px solid #ddd;border-radius: 4px; overflow-y:hidden">
        <!-- Search employees -->
        <legend>Buscar Empleados</legend>
        <div class="input-group">
            <input type="text"
                   ng-model="search.fullName"
                   class="form-control"
                   placeholder="Enter search text">
            <span class="input-group-addon" id="basic-addon1">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>

        <div class="col-lg-12 customer-row animate" ng-repeat="employee in employees | filter : search">
            <as-customer></as-customer>
        </div>
      
            <button ng-click="addEmployee()" class="btn btn-primary btn-block top-buffer">
                <i class="glyphicon glyphicon-plus"></i> Nuevo Empleado
            </button>
 
    </div>
    <div class="col-lg-9" style="border: 1px solid #ddd;border-radius: 4px; overflow-y:auto">
        <div ui-view></div>
    </div>

</div>
